<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">toDoList</div>
                <div class="input-area">
                    <input type="text" @input="handleInput" :value="curMask">
                    <button @click="addMask">添加</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>正在进行</span>
                <span class="mask-num">{{ maskList.length }}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(mask, index) in maskList" :key="mask.id">
                    <div>
                        <input type="checkbox" @change="changeMask(index, 'doing')">
                        <span>{{ mask.title }}</span>
                    </div>
                    <button @click="deleteMask(index, 'doing')">删除</button>
                </li>
            </ul>
        </div>
        <div class="container">
            <h2>
                <span>已经完成</span>
                <span class="mask-num">{{ completeMask.length }}</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="(mask, index) in completeMask" :key="mask.id">
                    <div>
                        <input type="checkbox" @change="changeMask(index, 'complete')">
                        <span>{{ mask.title }}</span>
                    </div>
                    <button @click="deleteMask(index, 'complete')">删除</button>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                curMask: '',
                maskList: [],
                completeMask: []
            },
            methods: {
                handleInput(e) {
                    // console.log(e.target.value)
                    this.curMask = e.target.value;
                },
                addMask() {
                    // console.log(this.curMask)
                    if (this.curMask === '') {
                        return
                    }
                    this.maskList.push({
                        title: this.curMask,
                        id: Math.random()
                    })
                    this.curMask = ''
                },
                changeMask(index, type) {
                    if (type === 'doing') {
                        this.completeMask.push(...this.maskList.splice(index, 1))
                    } else {
                        this.maskList.push(...this.completeMask.splice(index, 1))
                    }
                },
                deleteMask(index, type) {
                    const doList = type === 'doing' ? this.maskList : this.completeMask;
                    doList.splice(index, 1)
                }
            }
        })
    </script>
</body>

</html>